#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


nav {
  background-color: #4CAF50;
  color: white;
  padding: 20px 0;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;          
  justify-content: center;
  list-style: none;        
  margin: 0;
  padding: 0;
  gap: 30px;           
}

nav ul li {
  flex: 1;                  
  text-align: center;       
  cursor: pointer;
}

.hero {
  background-color: #f4f4f4;
  padding: 40px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}


footer {
  background-color: #222;
  color: white;
  padding: 15px;
  text-align: center;
  bottom: 0;
}

